.card {
  border: 1.5px solid var(--mainColor);
  color: var(--mainColor);
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  width: 240px;
  box-shadow: 0 0 1.2em rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  height: 100%;
  transition: all;
  transition-duration: 0.25s;
}

.card-content:hover {
  background-color: var(--mainColor);
  color: var(--backgroundColor);
  border-color: var(--backgroundColor);
  transition: all;
  transition-duration: 0.25s;
}

.card-content .title {
  text-align: left;
  font-weight: 500;
}

.card-content .text {
  text-align: left;
}
