.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.link {
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  transition: all;
  transition-duration: 0.25s;
}

.link:hover {
  color: var(--accentColor);
  stroke: var(--accentColor);
  transition: all;
  transition-duration: 0.25s;
}

.icon {
  min-width: 24px;
  min-height: 24px;
  margin-right: 12px;
}

.link p {
  flex: 1;
  text-align: start;
}
