@keyframes hover {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url(./concrete-wall-3.png);
}

.wrapper-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 40px;
  margin-right: 40px;
  isolation: isolate;
}

.wrapper-left {
  h1 {
    margin-bottom: 32px;
  }

  .link {
    color: var(--accentColor);
    position: relative;
    display: inline-block;
    padding: 0 0.45em;
    font-weight: 500;

    &:hover {
      &::after {
        transform: none;
      }
    }

    &:focus {
      outline: none;
    }

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: '';
      border-radius: 4px;
      mix-blend-mode: difference;
      background: currentColor;
      transition: transform 0.25s;
      transform-origin: 0 100%;
      transform: scaleY(0.05);
    }
  }
}

.wrapper-right {
  display: none;
  --transparent: hsla(0, 0%, 0%, 0);
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .wrapper-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      -45deg,
      var(--transparent) 73%,
      var(--mainColor) 10%,
      var(--mainColor) 10%,
      var(--transparent) 78%
    );
    background-size: 2em 2em;
  }
}
